@import './styles/mixin.scss';

.App {
  text-align: center;
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  @include flex(column, center, center);
  font-size: calc(10px + 2vmin);
  color: white;
}

.customTitle {
  background-color: red;
  @include flex(column);
}

body {
  font-size: 1.171vw;
}